body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .animated-box {
    width: 100px;
    height: 100px;
    background-color: #3498db
    margin: 20px;
    transition: background-color 0.5s ease-in-out;
  }
  
  .animated-box:hover {
    animation: moveAnimation 1s ease-in-out;
  }
  
  .animated-box.clicked {
    animation: resizeAnimation 0.8s ease-in-out;
  }
  
  @keyframes backgroundColorAnimation {
    0% { background-color: #3498db; }
    50% { background-color: #e74c3c; }
    100% { background-color: #2ecc71; } 
  }
  
  @keyframes combinedAnimation {
    0% {
      transform: translateX(0) scale(1);
      background-color: #3498db;
    }
    50% {
      transform: translateX(100px) scale(1.5);
      background-color: #e74c3c;
    }
    100% {
      transform: translateX(0) scale(1);
      background-color: #2ecc71;
    }
  }
  